<p *ngIf="!data"><em>Carregando...</em></p>

<div class="commands text-right button-header" *ngIf="data">
  <button *ngIf="isAdmin" mat-raised-button color="primary"
          type="submit"
          [routerLink]="['/home/admin/carros/cadastro']">
  <mat-icon>add_box</mat-icon>Cadastro
  </button>
  <button mat-raised-button color="primary"
          type="submit"
          (click)="refresh()">
  <mat-icon>refresh</mat-icon>Refresh
  </button>
</div>

<div class="form-group search-input" [formGroup]="search">
  <div class="form-group">
    <label for="params"></label>
    <select #options (change)="loadParam(options.value, '')" class="form-control">
        <option disabled>Select Param</option>
        <option *ngFor="let param of params">{{param}}</option>
    </select>
    <input type="text"
      (keyup)="loadParam(options.value, $event.target)"
      formControlName="value"
      placeholder="..."
      class="form-control"/>
  </div>
</div>

<div *ngFor="let info of data.info" class="carros-card" fxLayout="row inline">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{info.nome}}</mat-card-title>
      <mat-card-subtitle>Fabricante - {{info.marca}}</mat-card-subtitle>
    </mat-card-header>
    <input [disabled]="!isAdmin" type="file" #file (change)="onFileChange($event, info.id)" style="display: none">
    <img mat-card-image [src]="getImg(info.id)" (click)="file.click()">
    <mat-card-content>
      <p>Modelo - {{info.modelo}}</p>
      <p>R$ - {{info.valor}}</p>
    </mat-card-content>
    <mat-card-actions *ngIf="isAdmin">
      <button mat-button [routerLink]="['/home/admin/carros/cadastro', info.id]">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-button (click)="onDelete(info.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="container mat-paginator-container">
  <mat-paginator [length]="20"
              (page)="changePage($event)"
              [length]="totalPages"
              [pageSize]="5"
              [pageSizeOptions]="[2, 10]"
              aria-label="Select page">
  </mat-paginator>
</div>
