.register-container{
  align-items: flex-start;
  width: fit-content;
}

.form{
  margin-right: 60%;
  margin-top: 50px;
}

mat-card{
  height: 350px;
  width: 250px;
  margin-top: 5%;
  margin-left: 35%;
}


